DEBUG=false

LOG_LEVEL=info

NGINX_OUT_PORT=8010

POSTGRES_USER=ainewsbot
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ainewsbot

PGADMIN_EMAIL=admin@local.org
PGADMIN_PASSWORD=rootroot
PGADMIN_PORT=8095

RABBITMQ_USER=admin
RABBITMQ_PASS=rootroot
RABBITMQ_PORT=5672


CELERY_BROKER_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:${RABBITMQ_PORT}//
CELERY_RESULT_BACKEND=redis://redis:6379/0
